:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 /0.5);
}

html,
body {
  overflow-x: hidden; /* Mencegah scroll horizontal */
}

img {
  max-width: 100%; /* Membatasi gambar agar tidak lebih besar dari layar */
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Tengah-kan konten */
}

body {
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  min-height: 6000px;
}

.hero {
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Atau gunakan 100% jika ingin mengikuti tinggi elemen induk */
  background-image: url(img/hero.jpg);
  background-size: cover; /* Memastikan gambar menutupi seluruh area */
  background-position: center; /* Menjaga gambar tetap terpusat */
  z-index: -1; /* Agar gambar berada di belakang konten */
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 235, 230, 0.6),
    rgba(0, 0, 0, 0),
    rgba(255, 235, 230, 0.6)
  );
  z-index: -1;
}

.hero h1,
.hero h4,
.hero p,
.hero h3,
.catin,
.opening {
  text-shadow: var(--shadow);
}

.hero h1,
.catin h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
}

.hero h3 {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
}

.hero h4 {
  font-size: 1.2rem;
}

.hero p {
  font-size: 1rem;
}

.hero a,
.share a.filter {
  color: var(--pink);
  box-shadow: var(--shadow);
  font-size: 1rem;

  background-color: white;
}

.share a.filter {
  border: 1px solid #f14e95;
}

.hero a:hover,
.share a.filter:hover {
  background-color: var(--pink);
  color: white;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
  width: 40%;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 2.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/pattern.jpg);
  background-size: cover;
  /* background-color: rgba(255, 235, 230, 0.6); */
  min-height: 100vh;
  /* margin-top: -6.4rem; */
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin-top: -380px;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2,
.share h2 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h2 {
  margin-top: 5rem;
}

.home h3,
.share h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home .ayat {
  font-size: 2.2rem;
  font-weight: bold;
  color: #444;
  font-family: "Amiri", serif; /* Gunakan font gaya arab */
  text-align: center;
  direction: rtl; /* Teks kanan ke kiri untuk bahasa Arab */
  margin-bottom: 0.8rem;
}

.home p {
  color: #666;
  font-size: 1rem;
}

.home .couple {
  margin-top: 50px;
}

.home .couple h3 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-size: 1.8rem;
}

.home .couple img {
  width: 100%;
}

.home .heart {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--pink);
}

.home .divider {
  border: none;
  height: 4px; /* Ketebalan garis */
  background: var(--pink); /* Warna garis */
  width: 45%; /* Lebar garis */
  margin: 2rem auto; /* Jarak atas-bawah dan rata tengah */
}

.home .arrum {
  width: 80%;
  margin: 0 auto; /* Tengah-kan konten */
}

.home .arrum .ayat {
  font-size: 1.5rem;
}

.home .arrum p {
  font-size: 0.9rem;
}

.info {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
  position: relative;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 200;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
  z-index: 1;
}

.info .card-header,
.share .share-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.share .share-header {
  border-bottom: none;
}

.share .share-header h3 {
  font-size: 1.3rem;
  text-transform: none;
}

.info .card-body,
.share .share-body {
  font-size: 1rem;
}

.info a.btn:hover {
  background-color: var(--pink);
  border: 1px solid var(--pink);
}

.info a.live:hover i {
  color: var(--pink);
  background-color: none;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.info .card a,
footer a {
  color: white;
  text-decoration: none;
}

.simply-countdown {
  z-index: 1;
}

.story,
.gallery,
.rsvp,
.gifts,
.share {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.share {
  padding-bottom: 1rem;
}

.story span,
.gallery span,
.gifts span,
.share span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p,
.share p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 5px;
  background-color: var(--pink);
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid var(--pink);
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.gallery,
.share {
  background-color: #f5f5f5;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
  font-size: 1.2rem;
}

.rsvp button,
.gifts button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
  margin-top: 105px;
}

.rsvp button:hover,
.gifts button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid #f14e95;
}

footer {
  padding: 1rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 5;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.catin {
  position: absolute; /* Menempatkan elemen secara absolut */
  top: 0; /* Posisikan elemen di bagian atas */
  left: 0; /* Posisikan elemen di bagian kiri */
  z-index: 1000; /* Memastikan elemen berada di atas elemen lainnya */
  padding: 80px; /* Jarak di dalam elemen */
  text-align: left; /* Menyelaraskan teks ke kiri */
}

.catin h1 {
  margin: -20px 0; /* Menghapus margin default */
  color: white; /* Warna teks */
}

.catin h4 {
  font-size: 0.8rem;
  margin: 10px 0 50px 0;
}

.catin span {
  display: block;
  font-size: 3.5rem; /* Ukuran teks untuk simbol & */
  color: var(--pink);
  font-family: "Sacramento", cursive;
  margin: 0 40%;
}

.opening {
  background-size: cover;
  min-height: 100vh;
  margin-top: -5rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  padding-left: 3.5rem;
  position: relative;

  /* background-color: var(--bg); */
}

.opening::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Atau gunakan 100% jika ingin mengikuti tinggi elemen induk */
  background-image: url(img/opening1.jpg);
  background-size: cover; /* Memastikan gambar menutupi seluruh area */
  background-position: center; /* Menjaga gambar tetap terpusat */
  z-index: -2; /* Agar gambar berada di belakang konten */
}

.opening ::after,
.closing ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent; /* Awalnya transparan */
  transition: background 1s ease-in-out; /* Animasi transisi latar belakang */
}

.opening h1,
.closing h1 {
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-weight: bold;
}

.opening span,
.closing span {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  color: var(--pink);
  font-weight: bold;
}

.opening h4,
.closing h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.opening p,
.closing p {
  font-size: 1rem;
  font-weight: bold;
}

.opening .slides img,
.closing .slides img {
  max-width: 100%;
  z-index: -3; /* Agar gambar berada di belakang konten */
}

/* .opening .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideAnimation 20s infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 4s;
}
*/

.split {
  height: 300px;
  position: relative;
}

.split::after {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.2),
    rgba(255, 235, 230, 0.4),
    rgba(255, 235, 230, 0.8),
    rgb(255, 235, 230),
    rgb(255, 235, 230),
    rgb(255, 235, 230),
    rgba(255, 235, 230, 0.8),
    rgba(255, 235, 230, 0.4),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  z-index: 4;
}

.gallery-slider .col {
  margin-right: 15px; /* Jarak horizontal antar gambar */
  margin-bottom: 15px; /* Jarak vertikal antar gambar */
}

/* Jika menggunakan display grid */
.gallery-slider {
  display: flex;
  gap: 15px; /* Mengatur jarak otomatis antar elemen */
  flex-wrap: wrap; /* Agar elemen tidak terlalu rapat dalam satu baris */
}

.gallery-slider {
  list-style: none; /* Menghapus nomor atau bullet */
  padding: 0; /* Menghapus padding default */
  margin: 0; /* Menghapus margin default */
}

.gallery-slider li {
  list-style: none; /* Pastikan numbering di setiap elemen dihilangkan */
}

.closing {
  background-size: cover;
  min-height: 40vh;
  padding-top: 4rem;
  padding-bottom: 5rem;
  padding-left: 3.5rem;
  position: relative;

  /* background-color: var(--bg); */
}

.closing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Atau gunakan 100% jika ingin mengikuti tinggi elemen induk */
  background-image: url(img/closing.jpg);
  background-size: cover; /* Memastikan gambar menutupi seluruh area */
  background-position: center; /* Menjaga gambar tetap terpusat */
  z-index: -2; /* Agar gambar berada di belakang konten */
}

.gifts img {
  max-width: 20%;
}

.gifts button {
  margin: 0 0 10px 0;
  border-radius: 25px;
  border: 1px solid #f14e95;
}

.share img {
  max-width: 40vh;
  border-radius: 10px;
}

.share .rounded-image {
  border-radius: 15px; /* Atur besarnya radius untuk efek lengkung */
}

.share a {
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 25px;
}

.share .share-card {
  z-index: 1;
  background-color: #f5f5f5;
}

.navbar img {
  height: 50px;
  width: 50px;
}

/* Keyframe animation */
@keyframes slideAnimation {
  0%,
  25% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
*/
/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 80%;
  }

  .simply-countdown > .simply-section {
    padding: 30px; /* Atau sesuaikan dengan ukuran yang lebih kecil */
  }

  .home .heart {
    display: none;
  }

  .home .couple img {
    width: 60%;
    margin: 0 25%;
  }

  .home .couple h3 {
    font-size: 250%;
  }

  .home .couple p {
    font-size: 150%;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-image {
    width: 65px;
    height: 65px;
  }

  .timeline li .timeline-panel {
    width: 80%;
    transform: translateX(-20px);
  }

  .rsvp button {
    margin-top: 78px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .home .couple img {
    margin: 10px 25%;
  }

  .simply-countdown > .simply-section {
    padding: 20px; /* Atau sesuaikan dengan ukuran yang lebih kecil */
    margin: 5px;
  }

  .catin {
    padding-left: 40px; /* Jarak di dalam elemen */
  }

  .mynavbar .nav-link {
    font-size: 1.4rem;
    text-align: center;
  }

  .sticky-top {
    overflow: hidden;
    z-index: 70;
  }

  .timeline li .timeline-image {
    width: 60px;
    height: 60px;
  }

  .timeline li .timeline-panel {
    width: 75%;
    transform: translateX(-20px);
  }

  .rsvp button {
    margin-top: 0px;
  }
}

/* Mobile Phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 10px; /* Atau sesuaikan dengan ukuran yang lebih kecil */
    margin: 3px;
  }

  .timeline li .timeline-image {
    width: 50px;
    height: 50px;
  }

  .timeline li .timeline-panel {
    width: 70%;
    transform: translateX(-20px);
  }
}
